<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>673663023780-ajgqcj121tuv7qod11urr28q58ggjvi9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.673663023780-ajgqcj121tuv7qod11urr28q58ggjvi9</string>
	<key>API_KEY</key>
	<string>AIzaSyDJKk5MjagHnuqGNg9P4_8BPBJZXrzyHlY</string>
	<key>GCM_SENDER_ID</key>
	<string>673663023780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.foodaRN</string>
	<key>PROJECT_ID</key>
	<string>foodarn-3c1e7</string>
	<key>STORAGE_BUCKET</key>
	<string>foodarn-3c1e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:673663023780:ios:1c123d27db18beda19c431</string>
</dict>
</plist>